body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a:link {
  text-decoration: none;
}

nav {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  font-size: 16px;
  text-decoration: none;
}

button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  cursor: pointer;
  font-size: 13px;
  padding: 8px 10px;
  text-align: center;
  width: 100px;
}

button:hover {
  background-color: #f7fafa;
}

button:focus {
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
}

form >input {
  border: 2px solid rgb(140, 49, 49);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  display: flex;
  gap: 12px;
  height: 32px;
  align-items: center;
}

.login>img {
  height: 20px;
}

.dog-prof {
  margin: 0;
  display: grid;
  grid-gap: 50px 30px;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 300px);
  justify-content: center;
  align-items: center;

}

.card {
  background-color: white;
  padding: 20px;
  border: darkgrey 2px solid;
  text-align: center;
  align-items: center;
  border: 2px solid #d5d9d9;
  border-radius: 10px;
  box-shadow: rgba(213, 217, 217, .5) 0 5px 8px 0;
}

.dog-img {
  height: 140px;
  border-radius: 10px;
}

.main-container {
  width: 550px;
  display: grid;
  grid-template-columns: 300px 250px;
  justify-content: center;
  margin: 0 50px;
  align-items: center;
  padding: 40px;
  border: 2px solid #d5d9d9;
  border-radius: 10px;
  box-shadow: rgba(213, 217, 217, .5) 0 5px 8px 0;
}

.main-1 {
  text-align: center;
  font-size: 20px;
}

.main-1>h1 {
  margin: 10px;
}

.main-1>img {
  height: 180px;
}

.main-2 {
  font-size: 16px;
}

.applications {
  width: 600px;
  display: flex;
  justify-content: space-between;

}

.user {
  border: 2px solid #d5d9d9;
  border-radius: 10px;
  box-shadow: rgba(213, 217, 217, .5) 0 5px 8px 0;
  padding: 10px;
}

.new-form, .edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: 550px;
  padding: 30px;
  margin: auto;
  border-radius: 5px;
  border: solid 1px #ccc;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
  background: #ebebeb;

}

label {
  font-size: 18px;
}

input, select {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid darkgray;
}

input:focus {
  outline: 0;
  border: 1px solid rgb(0, 0, 0);
}


.form-app-btn {
  width: auto;
  margin: 0 80px;
  font-size: 18px;
  border: 1px solid darkgray;
}

.app-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-user {
  border-radius: 50%;
  height: 50px;
}

#nav-title {
  margin-right: 50px;
}

#nav-links {
  width: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#nav-links>a {
  padding-left: 20px;
}

#title {
  text-align: center;
  padding: 30px;
}

#new-app-btn {
  width: 150px;
  font-size: 18px;
}


@media only screen and (max-width: 480px) {
  body {
    margin: 0
  }

  .dog-prof {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (3, 1fr);
  }

  .main-container, .new-form { 
    max-width: 250px;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
  
  input, select {
    width: 100%;
  }

  .form-app-btn {
    width: auto;
    margin: 0 20px;
    font-size: 16px;
    border: 1px solid darkgray;
  }

  #title {
    text-align: center;
    padding: 10px;
  }
}