body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

a {
  color: white;
}

a:link {
  text-decoration: none;
}

nav {
  padding: 5px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E9B796;
  font-size: 16px;
  text-decoration: none;
  color: #962E2A;
}

button {
  background-color: #962E2A;
  border: 1px solid #E9B796;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  cursor: pointer;
  font-size: 13px;
  padding: 8px 10px;
  text-align: center;
  width: 100px;
  color: white;
}

button:hover {
  background-color: #a64340;
}

button:focus {
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
}

label {
  font-size: 18px;
}

input,
select {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid darkgray;
}

input:focus {
  outline: 0;
  border: 1px solid rgb(0, 0, 0);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  display: flex;
  gap: 12px;
  height: 32px;
  align-items: center;
}

.login>img {
  height: 20px;
}

.dog-prof {
  margin: 0 0 80px 0;
  display: grid;
  grid-gap: 50px 30px;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 300px);
  justify-content: center;
  align-items: center;
  

}

.card {
  padding: 20px;
  /* background-color: #E9B796; */
  background-color: #e2f1f9;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: #E3867D 0 3px 5px 0;
  color: #d26e65;

}

.dog-img {
  height: 140px;
  border-radius: 10px;
  /* border: 2px #E3867D solid; */
}

.main-container {
  width: 550px;
  background-color: #e2f1f9;
  display: grid;
  grid-template-columns: 300px 250px;
  justify-content: center;
  margin: 0 50px;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
  box-shadow: #E3867D 0 3px 5px 0;
}

.main-1 {
  text-align: center;
  font-size: 20px;
}

.main-1>h1 {
  margin: 10px;
}

.main-1>img {
  height: 180px;
}

.main-2 {
  font-size: 16px;
  color: #d26e65
}

.applications {
  display: flex;
  justify-content: space-around;
}


.user {
  border: 2px solid #d5d9d9;
  border-radius: 10px;
  box-shadow: rgba(213, 217, 217, .5) 0 5px 8px 0;
  padding: 10px;
  background-color: #e2f1f9;
}

.new-form,
.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: 550px;
  padding: 30px;
  margin: auto;
  border-radius: 5px;
  border: solid 1px #ccc;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
  background-color: #e2f1f9;

}

.form-app-btn {
  width: auto;
  margin: 0 80px;
  font-size: 18px;
  border: 1px solid darkgray;
}
.user-card {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.app-user {
  border-radius: 50%;
  height: 50px;
}

.user-name {
  text-align: center;
  color: #962E2A;
}

.app-btn,
.app-btn>button {
  margin: 5px 10px;
  font-size: 14px;
  width: 100px;
  color: white;
}

#nav-title {
  margin-right: 50px;
  font-size: 30px;
}

#nav-links {
  width: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#nav-links>a {
  padding-left: 20px;
}

#nav-links > a:hover {
  color: #d26e65;
}

#title {
  text-align: center;
  padding: 30px;
  color: #962E2A;
}

#new-app-btn {
  width: 150px;
  font-size: 18px;
}

#btns {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#app-title {
  margin: 40px;
  color: #962E2A;
}


@media only screen and (max-width: 480px) {
  body {
    margin: 0
  }

  .dog-prof {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (3, 1fr);
  }

  .main-container,
  .new-form {
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }

  input,
  select {
    width: 100%;
  }

  .form-app-btn {
    width: auto;
    margin: 0 20px;
    font-size: 16px;
    border: 1px solid darkgray;
  }

  #title {
    text-align: center;
    padding: 10px;
  }
  .main-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .applications {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .new-form, .edit-form {
    width: auto;
    margin: 10px;
  }
}