body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a:link {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
  font-size: 16px;
  text-decoration: none;
}

.login{
  display: flex;
  gap: 12px;
  height: 32px;
  align-items: center;
}

.login > img {
  height: 20px;
}

.dog-prof {
  margin: 0;
  display: grid;
  grid-gap: 50px 30px;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 300px);
  justify-content: center;
  align-items: center;
}
.card {
  padding: 20px;
  border: darkgrey 2px solid;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

.dog-img {
  height:140px;
  border-radius: 10px;
}

#nav-title {
  margin-right: 50px;
}

#title  {
  text-align: center;
  padding: 30px;
}

@media only screen and (max-width: 480px) {
  body  {
    margin: 0
  }
  .dog-prof {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat (3, 1fr);
  }
}